/* login */
.login{background:#efeff4;}
.login h1.mui-title{text-align:center;}
.login h1#regHead{text-align:left;text-indent:29%;} 
.login .mui-input-row{overflow:hidden;clear:both;height:40px;font-size: 16px;width:100%;border-bottom:1px solid #f2f2f2;background:#fff;}
.login .mui-input-row label{padding:10px 15px;width:22%;float:left;box-sizing: border-box;}
.login .mui-input-row .mui-input{padding:12px 15px 13px 0;width:78%;float:right;box-sizing: border-box;}
.login .mui-content-padded{margin:25px 10px 10px;}
.login .reg-padded p{color:#8f8f94;font-size: 14px;}
.login .mui-content-padded .mui-btn{width:100%;border-radius:5px;font-size:16px;color:#fff;}
.login .login-text{overflow:hidden;margin-top:10px;}
.login .login-text a{ color: #666; font-size: 14px;}
.login .login-text a.left{float:left;}
.login .login-text a.right{float:right;}

.login .else-login{position:absolute;bottom:50px;text-align: center; width: 100%;}
.login .else-login p{color:#8f8f94;font-size: 14px;}
.login .login-style{ width: 60%; margin: 0 auto;overflow:hidden;}
.login .login-style li{ float: left; width: 33.33%; text-align: center;}
.login .login-style li i{  font-size: 40px;}
.icon-qq a{ color: #00abf7;}
.icon-wexin a{ color: #39e249;}
.icon-weibo a{ color: #de0609;}
.else-login p{ line-height: 50px;}