/*qq:1135800463*/
/*Email:1135800463@qq.com*/
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td,i
{margin: 0; padding: 0; border: 0; outline: none; font-style: normal; font-weight: normal;}
html{ height: 100%;}
body{background:#efeff4;}
ul, ol{list-style: none;}
a{color: black;text-decoration: none;}
a:hover{text-decoration: none;}
img{max-width: 100%; width: auto; height: auto; vertical-align: top; border: 0;}
.ui-page-login,body {width: 100%;height: 100%;margin: 0px;padding: 0px;}
li{ list-style-type: none;}
@font-face {
  font-family: 'iconfont';  /* project id 293160 */
  src: url('//at.alicdn.com/t/font_cuh0v09f9rx80k9.eot');
  src: url('//at.alicdn.com/t/font_cuh0v09f9rx80k9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_cuh0v09f9rx80k9.woff') format('woff'),
  url('//at.alicdn.com/t/font_cuh0v09f9rx80k9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_cuh0v09f9rx80k9.svg#iconfont') format('svg');
}
.fl{ float: left;}
.fr{ float: right;}
.iconfont{font-family:"iconfont"; font-size:20px; font-style:normal;} 
.mui-content{height: 100%;}
.area {	margin: 20px auto 0px auto;}	
.mui-input-group {margin-top: 10px;}
.mui-input-group:first-child {margin-top: 20px;}
.mui-input-group label {width: 22%;}
.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {width: 78%;}
.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {top: 6px;}
.mui-content-padded {margin-top: 25px;}
.mui-btn {padding: 10px;}
.link-area {display: block;margin-top: 25px;text-align: center;}
.spliter {color: #bbb;	padding: 0px 8px;}
.oauth-area {position: absolute;bottom: 20px;left: 0px;text-align: center;width: 100%;padding: 0px;margin: 0px;}
.oauth-area .oauth-btn {display: inline-block;width: 50px;height: 50px;background-size: 30px 30px;background-position: center center;background-repeat: no-repeat;margin: 0px 20px;/*-webkit-filter: grayscale(100%); */border: solid 1px #ddd;border-radius: 25px;}
.oauth-area .oauth-btn:active {border: solid 1px #aaa;}
.oauth-area .oauth-btn.disabled {background-color: #ddd;}

.mui-btn-blue, .mui-btn-primary, input[type=submit]{ background: #ff1c01; border: 1px solid #ff1c01;}



/* head */
#headNav{position:fixed;top:0;width:100%;z-index: 9999;}
#headNav .search{position:absolute;background:rgba(255,255,255,.8);padding:0 5px;width:45%;}
#headNav .search li{border-bottom:1px solid #ccc;height:30px;font:14px/30px "";width:100%;overflow: hidden;text-overflow:ellipsis;}
#headNav .search li:nth-last-child(){border-bottom:none;}
#headNav .search .bgColor{background:#aaa;}
.mui-bar{ background: #fff;display:flex;justify-content: space-between;flex-wrap:nowrap;box-sizing: border-box;padding:4px 2% 4px;}
.header .mui-btn-link{ color: #ff1c01;line-height:40px;height:40px;}


.mui-title{width:82%;line-height: 40px;height:40px;font:16px/40px "";}
.mui-search {width:100%;line-height: 40px;height:40px;}
.mui-search input[type=search]{ background: transparent; border: 1px solid #ddd;border-radius:10px;width:100%;height:38px;
text-indent: 30px;background: url(/src/assets/images/search.gif) no-repeat 5px center;background-size:20px 20px;
}
/* list */
#listHead {position: fixed;top:0;z-index:1000;width:100%;}
/* #listHead h1.mui-title{text-indent:25%;} */
#list  ul.list li p{font-size:14px;color:#8f8f94;}



/* home */
#home{background:#fff;}
#home .nav p{font-size:14px;color:#8f8f94;}
/* 轮播 */
.carousel img{width:100%;height:200px;}

.h57{ height: 50px;}

.nav{ overflow: hidden; padding: 1rem 0;}
.nav li{ float: left; width: 25%; text-align: center;}
.index-list{ overflow: hidden;}
.index-list img{ width: 100%;}
.index-list li{ width: 50%; float: left; margin-bottom: 10px; }
.index-list li a{ width: 98%; margin: 0 auto; display: block; position: relative;}
.index-list li p{ position: absolute; width: 100%; bottom: 0; color: #fff; text-indent: 12px; height: 32px; line-height: 32px; background: rgba(0,0,0,.5); z-index: 999;}
.mui-bar-tab .mui-active{ color: #ff1c01;}

.list img{ width: 100%;}
.list p, .list h2{ padding:0 10px;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;}
.list h2{ font-size: 20px; margin-top: 15px;}
.list li{ position: relative; margin-bottom: 25px;}
.list-photo{ position: absolute; bottom: -10px; right: 10px; text-align: center;}
.list-photo img{ width: 50px; height: 50px; border-radius: 50%;}
.list-photo p{ line-height: 15px;}

.h65{ height: 65px;}
/* foot */
#footNav{position: fixed;bottom:0;width:100%;padding:5px 20px;box-sizing: border-box;background:#fff;z-index:999;}
nav.mui-bar{border-top:1px solid #ddd;}
nav.mui-bar a{text-align: center;}
nav.mui-bar span{display:block;}



/* show */
.showBox #showHead{position:fixed;top:0;z-index:999;width:100%;box-shadow: 0 2px 2px #d7d7d7;}
.showBox #showHead .mui-title{text-indent: 26%;}

.showBox .startShow{display:block;}
.showBox .stopShow{display:none;}
.showBox #picture{position: fixed;bottom:0;width:100%;height:100%;background:rgba(0,0,0,.4);z-index:999;}
.showBox #picture ul.mui-table-view:nth-child(1){margin-top:70%;}
.showBox #picture ul.mui-table-view{margin:8px;text-align: center;}
.showBox #picture ul.mui-table-view li{padding:11px 15px;background:#fff;border-bottom:1px solid #f2f2f2;border-radius:4px;}
.showBox #picture ul.mui-table-view li a{color:#007aff;}

.wall {
  display: block;
  position: relative;
}
.wall-column {
  display: block;
  position: relative;
  width: 50%;
  padding: 0 2%;
  float: left;
  box-sizing: border-box;
}
.article {
  display: block;
  margin: 0 0 8% 0;
  padding: 5%;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  transition: all 100;
  overflow: hidden;
  position: relative;
}
.article:hover{ transform: scale(1.01);}
.article img {
  display: block;
  width: 100%;
  margin: 0 0 5% 0;
}
.article a{ color: #666;}
.article p{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; font-size: 16px; }
.article small{ font-size: 1em; color: #ff0000; line-height: 1.5;}
.article input{ width: 20%; padding: 0.6em; border-radius: 0.4em; font-size: 1.1em; z-index: 100; background-color: #f60; border: none; position: absolute; bottom: 3%; right: 5%; color: #fff; box-shadow: 0 0 7px #d7d7d7;}
/*瀑布流结束*/
.wrapper h3{ text-align: center; margin:0 20%; white-space: nowrap; text-overflow: ellipsis; font-weight:normal; color: #333; overflow: hidden;  font-size: 1.5em; padding: 0.7em 0;}
.wrapper h4{ width: 90%; margin:0 5%; text-align: justify; font-weight:normal; color: #999;  font-size: 1.2em; margin-bottom: 3%; line-height:1.5; }
.wrapper{ background: #F1F1F1; padding-top: 15px;}
.show{ position: fixed; bottom: 60px; background: #FF1C01; color: #fff; text-align: center; height: 40px; line-height: 40px; border-radius: 5px; width: 90%; margin:0 5%; display: block;}
.mui-table-view .mui-media-object{ border-radius: 50%;}
/* .emali .mui-media-body{ margin-top: 10px;} */
/* .emali .mui-media-body i{ float: right; font-size: 14px; color: #666;} */
.write{ background: #F1F1F1; text-align: center; line-height: 50px; display: block;}

/* create */
.create{background:#fff;}
.create .hp img{width:100%}
.create .mui-bar{position:fixed;top:0;z-index:999;width:100%;box-shadow: 0 2px 2px #d7d7d7;}
.create .mui-title{text-indent:24%;}
.create .c-title{ width: 80%; margin: 0 auto; text-align: center; }
.create .c-title h2{ border-bottom: 1px solid #ddd; font-size: 20px; line-height: 40px;}
.create .c-title p{ line-height: 30px;color:#8f8f94;font-size: 14px;}

.cate-title{background: #F1F1F1; line-height: 50px; display: block; overflow: hidden; padding: 0 15px;}


/* message */
.msg .mui-bar{position:fixed;top:0;z-index:999;width:100%;box-shadow: 0 2px 2px #d7d7d7;}
.msg .mui-title{text-indent:28%;}
.msg ul.emali{background:#fff;}
.msg ul.emali li{padding:11px 15px;border-bottom:1px solid #f2f2f2;}
.msg ul.emali li a{display:block;overflow: hidden;clear: both;}
.msg ul.emali li a img{width:42px;height:42px;border-radius:50%;margin-right:10px;}
.msg ul.emali li a .mui-media-body p{font-size: 14px;color:#8f8f94;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

/* ranking */
.rank .mui-bar{position:fixed;top:0;z-index:999;width:100%;box-shadow: 0 2px 2px #d7d7d7;}
.rank .mui-title{text-indent:28%;}
.rank .ranking .mui-row{display:flex;justify-content: space-between;background:#fff;width:100%;}
.rank .ranking .mui-row div{width:50%;box-sizing:border-box;}
.rank .ranking .mui-table-view-cell{ background: #fff; border-left: 1px solid #ddd;padding:11px 15px;}
.ranking h2{ font-size: 16px; text-align: center; margin-top: 10px;}
.ranking p{ text-align: center;color:#8f8f94;}
.ranking h3{ line-height: 40px; padding: 0 15px; font-size: 20px;}

/* eat */
#eat{background:#fff;}
#eatHead{position: fixed;top:0;z-index:1000;width:100%;}
#eatHead h1.mui-title{text-align:center; }
.banner img{width:100%}
#eat ul.nav p{color:#8f8f94;font-size: 14px;}
.eat .eat-top-text p{color:#8f8f94;font-size: 14px;}
#eat .m-bar .active{background: #FF1C01;}
#eat .m-bar .active a{color:#fff}

.m-bar{ text-align: center;}
.m-bar li{  display: inline-block;  border: 1px solid #FF1C01; padding: 5px 15px; 	}
.m-bar .current{ background: #FF1C01;}
.m-bar .current a{ color: #fff;}
.m-bar li:last-child{ margin-left: -10px;}
.eat li{ overflow: hidden; padding: 10px; border-bottom: 1px solid #ddd;}
.eat .eat-top img{ width: 40px; height: 40px; border-radius: 50%; float: left;}
.eat .eat-top-text{ float: left; margin-left: 10px;}
.eat .eat-top-text h2{ color: #FF1C01; font-size: 16px; line-height: 20px;}
.eat .btn{ float: right; font-size: 12px; border: 1px solid #ddd; padding: 3px 10px;}
.eat-top { overflow: hidden;}
.eat-middle{ font-size: 14px; margin-bottom: 10px;}
.eat-img{ overflow: hidden;}
.eat-img img{ width: 30%; float: left; margin-right: 1%;}
.eat-bot{ color: #999; margin-top: 10px; font-size: 12px;}
